<% layout('_layout') -%>

<div class="jumbotron">
 
		<h1>Bem vindo! Faça o Login!</h1>
		 <p>
          <a class="btn btn-lg btn-primary" href="/auth/facebook" role="button">Index</a>
        </p>
	
</div>